<% switches_six = {
	qa_duration: "Your answers take 30 seconds to 2 minutes to read?", \
	qa_specific: "Are your answers specific and detailed?", \
	qa_examples: "Are there examples of your skills/experiences in your answers?", \
	qa_star_method: "Did you follow the STAR (Situation, Task, Action, Result) method on the answers that require it?", \
	qa_answers_reqs: "Did you use your answers from the requirements document here?", \
	qa_strenght: 'Is your "biggest strength" answer solid, specific and valuable?', \
	qa_weakness: 'On your "weakness question", did you explain how you\'re working to solve it?', \
	qa_salary: "Did you lookup the salary you're going to ask for?" \
} %>

<h1>
  <span>
    <%= image_tag "step6tag.png" %>
    <%= @opening.title.capitalize %> AT <%= @opening.company.capitalize %>: <%= @opening.step_six_points %>/100.
  </span>
</h1>
<h3>Click the link to see your <%= link_to "Interview Q&A doc", @opening.user.qa_link, target: "_blank" %></h3>
<%= render "public_doc_warning" %>
<br>


<%= form_for @opening.user do |f| %>
    	<%= f.label :qa_link; "Want to use an alternative file? Copy the link here:" %>
        <%= f.text_field :qa_link, class: "form-control", value: @opening.user.qa_link, placeholder: "http://drive.google.com/user/interviewqa.doc" %>
    	<%= f.submit "Save link", class: "bluebutton prefix" %>

<% end %>

<h2>On your Interview Q&A:</h2>

<%= render 'switches_form', opening: @opening, switches: switches_six, step: "six", div: "six" %>

<%= link_to "Go to Step 7", edit_opening_path(step: 7), class: "bluebutton prefix" %>


    <section id="step6" class="accordionoffwhite large-12 medium-12 acc" data-magellan-destination="step6" >
        <%= render "static/six_content" %>
    </section>
