<p href="#step5" class="row accordiontitle font700" data-section-title><span><%= image_tag "step5tag.png" %>THE PERFECT COVER LETTER</span><br/>Show them how much you want them through your cover letter. <a class="hide-for-small activearrow whitebutton"><i class="fi-down-arrow"></i></a></p>
<div class="content row" data-section-content>
    <div class="large-6 medium-7 small-12 small-centered columns" style="float: left !important;">
        <br/><br/>
        <p>Here's <%= link_to "the cover letter", "https://docs.google.com/document/d/1K5YS3ff98zcSS6w8msEK0PaWl14MCuBn2YJHlxI8-S4/edit?usp=sharing", target: "_blank" %> I'd send to the <%= link_to "job opening", "https://docs.google.com/document/d/1U_oQptxcATulnpadcRjvfscRvif_PwXxy-OG5GGJz5o/edit", target: "_blank"%> I've been working on. Template for you:</p>
    </div>
    <div class="large-6 medium-5 small-12 small-centered columns paper" style="float: left !important;"><%= image_tag "step4connect.png" %></div>
    <div class="large-12 medium-12 small-12 columns" style="margin-left: auto !important; margin-right: auto !important">
        <br/><br/>
        <div class="bluepanel coverlettertemplate">
            <p class="coverlettertemplate"><span class="font700">Dear (name of recruiter), <br/>My experience on (keyword from the offer) domain should be of interest to a growing company like (company name), and more specifically regarding your offer for a (position), found on the (website name) website.</span></p>
        </div>
        <br/><br/>
        <ul>
        <li>Find name of the recruiter. Look the company up on LinkedIn, you might find the name of the HR person there.</li>
        <li>Start with the skills they want. If you're applying for a project manager job, then "My experience in project management" should be how you start.</li>
        </ul>
        <div class="bluepanel">
            <p><span class="font700">
                I hereby address your every requirement to the offer. I am certain these skills are more than suitable for the contribution I can make to keep (Company Name) on the path of success.
                (here you copy, paste and format your requirements answers doc)
                </span>
            </p>
        </div>
        <br/><br/>
        <p>Copy-paste the answers and requirements you write down during <%= link_to "Step 2", "#step2" %> and format it properly.</p>        
        <div class="bluepanel">
            <p><span class="font700">Your (international) profile and leadership in the areas of (whatever the company does), as well as your dedication to (whatever the company focuses on), are of great interest to me. I have to share your values to feel at ease and work at top conditions. The information I found about you makes me feel confident I'll be doing my best to make sure (company name) keeps improving and moving forward.</span></p>
        </div>
        <br/><br/>
        <p>Go to the company's website: find out their mission, vision, what they do, how they do it, what are they working on, and put it all in. You really care for the company and you're willing to go the extra mile. You have motivation to work for them based on what they do, not just what they offer to you.</p>
        <p>The final part is standard:</p>
        <div class="bluepanel">
            <p><span class="font700">
                I am available starting (--/--/-- or immediately) and would appreciate the opportunity to show you how I can help (Company name) meet its goals. <br/>Sincerely, <br/>(Name, phone)
                </span>
            </p>
        </div>
        <br/><br/>