 <p href="#step4" class="row accordiontitle font700" data-section-title>
    <span >
        <%= image_tag "step4tag.png" %>MATCH THE RESUME
    </span>
    <br/>
    Make sure everything is there.
    <a class="hide-for-small activearrow whitebutton"><i class="fi-up-arrow"></i></a>
</p>
<div class="content row" data-section-content>
    <div class="large-7 medium-12 columns">
        <p>Have a look at <%= link_to "my resume", "https://docs.google.com/document/d/1vWIN7JippGJB8p6uTzXW62bb8B0R0lshSmRWF0JS_ig/edit?usp=sharing", target: '_blank' %>. I've used this format in three different countries with positive results every single time.</p>
        <ul class="disc">
            <li>Pick a template you like from <%= link_to "CVs Intellect", "https://www.cvsintellect.com/", :target => "_blank" %>. No need to fill it online, just pick the template.</li>
            <li>Create a "Resume for (job opening)" doc on <%= link_to "Google Docs", "http://docs.google.com", target: "_blank" %> or <%= link_to "SkyDrive", "https://skydrive.live.com", target: "_blank" %>.</li>
            <li>Add a basic info section: name, address, email, phone, public linkedin profile link you created in <%= link_to "step 3", "#step3" %>. Depending on your country, some more info might be needed: marital status, blood type, favorite power ranger.</li>
            <li>Add a Headline: Should match the job opening title you're working with or close to it.</li>
            <li>Add a "Qualifications for the (name of the opening)" section, and then copy and paste <span style="text-weight:bold">both the requirements and the answers created on Step 2</span>. The requirements will help you beat automatic resume checkers. The answers will impress and ease the job of the recruiter.</li>
    </div>
    <div class="hide-for-medium-down large-5 columns"><%= image_tag "step1guy.png" %></div>
    <div class="large-12 medium-12 columns">
        <li>Add a "Work Experience" Section, and copy (not cut) the sentences from your answers above to the corresponding experience. For time lapse, use years alone. 2011 - 2012 is good enough. No need to put 01/01/2011 - 05/05/2012.</li>
            <li>Add a "Education" Section, and copy (not cut) the sentences from your answers above to the corresponding experience. Education goes before work experience if you graduated less than two years ago. For time lapse, use years alone. 2011 - 2012 is good enough. No need to put 01/01/2011 - 05/05/2012.</li>
            <li>Add a "Skills" Section, and copy (not cut) the sentences from your answers above to the corresponding experience.</li>
            <li>Add the remaining experiences/degrees to fill the gaps if any. Keep descriptions short: these are not bringing value to your current application.</li>
            <br>
            <p>Things that are NOT going to be on this base Resume:</p>
            <ul class="nolist">
                <li><span class="fi-remove"></span>NO softskills. "Organized, proactive, team oriented performer" and vague descriptions that everybody claims to have. This is noise.</li>
                    <li><span class="fi-remove"></span>NO summary. A brief paragraph describing you or your motivations. This is what the cover letter is for.</li>
                    <li><span class="fi-remove"></span>NO objective. Irrelevant, wastes space and says nothing to recruiters. You have your Headline.</li>
            </ul>
        </ul>
