<p href="#step6" class="row accordiontitle font700" data-section-title>
    <span><%= image_tag "step6tag.png" %>INTERVIEW COACHING</span>
    <br/>
    Practice. Practice practice practice.
    <a class="hide-for-small activearrow whitebutton"><i class="fi-down-arrow"></i></a>
</p>
<div class="content row" data-section-content>
    <div class="large-9 medium-8 small-12 small-centered columns" style="float: left !important;">
    </div>
    <div class="large-3 medium-4 small-12 small-centered columns interview" style="float: left !important;"><%= image_tag "step6guy.png" %>
    </div>
    <div class="large-12 medium-12 columns">
        <p>
            <%= link_to "My Answers", "https://docs.google.com/document/d/1NGsPXz5xA2RKljt1VyLqJk552-WBS__a6fz4qi3aj70/edit?usp=sharing", target: "_blank" %> to the <%= link_to "CDN Product Manager", 'https://docs.google.com/document/d/1U_oQptxcATulnpadcRjvfscRvif_PwXxy-OG5GGJz5o/edit?usp=sharing', target: "_blank"  %> opening we've been working on.
        </p>
        <p>Write down 10 to 20 line answers to the most common questions (each should take min 30 seconds max 2 minutes to read):</p>
         <ul class="nolist">
            <li><span class="fi-checkmark"></span><span style="text-weight:bold">Tell me about yourself</span> This corresponds to an expanded version of the second paragraph of your <%= link_to "Cover Letter", "https://docs.google.com/document/d/1K5YS3ff98zcSS6w8msEK0PaWl14MCuBn2YJHlxI8-S4/edit?usp=sharing" %></li>
            <li><span class="fi-checkmark"></span><span style="text-weight:bold">What interests you about this opening?/why do you want to work for us?</span> Highlights of your skills. Talk about your enthusiasm for the company as well.</li>
            <li><span class="fi-checkmark"></span><span style="text-weight:bold">What do you know about our company?</span> You did the research on <%= link_to "step 5", "#step5" %> for the cover letter.</li>
            <li><span class="fi-checkmark"></span><span style="text-weight:bold">Why did you leave your last job?/Why are you thinking about leaving your current job?</span> You've outgrown your job, you want to expand to other skills, this job has a skillset that interests you.</li>
            <li><span class="fi-checkmark"></span><span style="text-weight:bold">Tell me about your experience at (past job)</span> Always from a positive standpoint.</li>
            <li><span class="fi-checkmark"></span><span style="text-weight:bold">What experience do you have doing (Keyword they asked for on the offer)?</span> 2 minute answer. They will ask for more if they want. If they ask you a question you don't know, here's a template:    
                <br>
                <br>
                <div class="bluepanel">
                    <p><span class="font700">"This particular subject is something that I am not fully familiarized with, however it is one of the things that attracted my attention from your offer: I am looking forward to work in an environment with room to learn and develop skills that will suit you and the company".</span></p>
                </div>
                <br/>
            </li>
            <li><span class="fi-checkmark"></span><span style="text-weight:bold">Tell me about your biggest strengths</span> Relate them to the job.</li>
            <li><span class="fi-checkmark"></span><span style="text-weight:bold">Tell me about your weaknesses</span>
            The most important things are to have specific examples, give a positive spin and how you're working on it. If your biggest weakness is public speaking, you could say something like this:
                <br>
                <br>
                <div class="bluepanel coverlettertemplate">
                    <p class="coverlettertemplate"><span class="font700">I've had lots of difficulties when speaking in front of a crowd. I've taken leadership roles on some volunteering work and signed up for theatre workshops, and I know there is a long way to go but I am working on it and I feel like I am making progress.</span></p>
                </div>
                <br>
                If your biggest weakness is your lack of patience, you could phrase it this way:
                <br>
                <br>
                <div class="bluepanel coverlettertemplate">
                    <p class="coverlettertemplate"><span class="font700">Whenever there is a deadline approaching, if I feel like someone's not going to make their contribution on time, I've had a tendency to take over and finish the work myself. I've identified this lack of patience and I'm working on raising signals and coaching if I can before taking over, to respect my coworkers and make sure we all understand each other as well as the goal at hand.</span></p>
                </div>
            </li>  
            <br>
            <li><span class="fi-checkmark"></span><span style="text-weight:bold">Tell me about when you had to take initiative … you had to deal with a difficult customer … you had to respond to a crisis … you had to give difficult feedback to an employee</span> Remember the <%= link_to "STAR method", "http://en.wikipedia.org/wiki/Situation,_Task,_Action,_Result", target: "_blank" %>: Situation, Task, Action, Result.
            </li>
            <li><span class="fi-checkmark"></span><span style="text-weight:bold">How does this position fit in with the career path you envision for yourself?</span> Always from a positive perspective.</li>
            <li><span class="fi-checkmark"></span><span style="text-weight:bold">Where do you see yourself in five years?</span> You should still be in the company!</li>
            <li><span class="fi-checkmark"></span><span style="text-weight:bold">What salary are you expecting to make here?</span> Do your research. <%= link_to "Glassdoor", "http://www.glassdoor.com/index.htm", target: "_blank" %> and <%= link_to "Salary.com", 'http://www.salary.com', target: "_blank"  %> will help you find out how much you should get payed. Ask for the high range. If you have to negotiate, <%= link_to "Here's a brilliant video", "http://www.youtube.com/watch?v=XY5SeCl_8NE", target: "_blank" %> that perfectly explains how to do it.</li>

        </ul>
        <br>
        <div class="bluepanel">
            <p><span class="font700">This script will make it easier to improvise/adapt better according to the context of the question. Have your friends ask you these questions over and over, and play devil's advocate.</span></p>
        </div>
