<p href="#step3" class="row accordiontitle font700"  data-section-title><span><%= image_tag "step3tag.png" %>MATCH YOUR ONLINE PROFILE TO THE OPENING</span><br/>Recruiters will look you up online. Prepare for it. <span> <a class="hide-for-small activearrow whitebutton"><i class="fi-down-arrow"></i></a></span></p>
<div class="content row" data-section-content>
    <div class="large-12 columns">
        <br/>
        <div class="text-center"><%= image_tag "step2guy.png" %></div>
        <br/>
        <div class="large-11 large-centered columns">
            <ul class="disc">
                <p class="bluecolor font500">FIRST: LinkedIn</p>
                <p>Check out <%= link_to "my profile", "http://linkedin.com/in/antomontani", target: "_blank" %> for an example.</p>
                <li>You must have a <%= link_to "LinkedIn", "http://www.linkedin.com", target: "_blank" %> profile. Checklist:</li>
                <ul class="nolist">
                    <li><span class="fi-checkmark"></span>A clear picture showing your face.</li>
                    <li><span class="fi-checkmark"></span>A Headline right below your name: this is a five word phrase that reflects the opening, not what you've done. If you've done accounting but want to be a meth dealer, your headline will be "Walter White is a Meth Dealer".</li>
                    <li><span class="fi-checkmark"></span>A Summary of five to ten lines describing what you want to do. Keywords of the job you want must be there. Here's an example you can adapt:</li>
                    <br>
                    <div class="bluepanel coverlettertemplate">
                        <p class="coverlettertemplate"><span class="font700">CDN Architect looking for opportunities to take my skills and techniques to the next level. Over 6 years of hard work and persistence have allowed me to enjoy working on big projects and fully understand how to lead and perform on stresful conditions. I seek to expand my expertise to advance my career and prove to you that I will be a valuable asset to your company.<br><br>Specialties: CDN, Project Management, Streaming, QA, Testing.</span></p>
                    </div>
                    <br>
                    <li><span class="fi-checkmark"></span>Be sure to add the "Specialties" (and an extra "i" if you're in the UK) line at the end of the summary like in the example above.</li>
                    <li><span class="fi-checkmark"></span>Add your work experiences and <span style="text-weight:bold">copy and paste your answers to the requirements on Step 2</span> to the corresponding job.</li>
                    <li><span class="fi-checkmark"></span>Add your degrees and <span style="text-weight:bold">copy and paste your answers to the requirements on Step 2</span> to the corresponding degree.</li>
                    <li><span class="fi-checkmark"></span>Add your work experiences and degrees that didn't answer any of the requirements, along with a brief description of what you did/learned.</li>
                    <li><span class="fi-checkmark"></span>Copy and paste the skills you wrote about in <a href="#step2">Step 2</a>.</li>
                    <li><span class="fi-checkmark"></span>Add any other skills you claim. No limit on this one.</li>
                    <li><span class="fi-checkmark"></span>Get at least 50 connections. <%= link_to "Import your email contacts", "https://www.linkedin.com/fetch/importAndInviteEntry?trk=nav_responsive_sub_nav_add_connections", target: "_blank" %> if needed.</li>
                    <li><span class="fi-checkmark"></span><%= link_to "Ask for recommendations", "http://www.linkedin.com/recRequests?cor=&trk=helpcenter", target: "_blank" %>. Get at least two.</li>
                    <li><span class="fi-checkmark"></span><%= link_to 'Create a friendly public LinkedIn link', 'http://www.linkedin.com/profile/public-profile-settings'%>. You will add it to your resume/cv later.</li>
                    <li><span class="fi-checkmark"></span>Add any projects, honors, awards you have.</li>
                </ul>
                <br>
                <p class="bluecolor font500">SECOND: Google</p>
                <li>
                    Google your name, with/without city, experience on Google. "Anto Montani" (with quotes), Anto Montani, Anto Montani Paris, Anto Montani CDN . See what comes up on the first two Google pages. If you found it, they'll find it. Take care of it.
                </li>
                <p class="bluecolor font500">THIRD: Brand Yourself</p>
                <p><%= link_to "My brandyourself profile", "http://antomontani.brandyourself.com", target: "_blank" %>.</p>
                <li>Open a free account with <%= link_to "brandyourself.com", "http://www.brandyourself.com", target: "_blank" %>. They will help you improve your online presence:</li>
                    <ul class="nolist">
                        <li><span class="fi-checkmark"></span>Import your LinkedIn profile to make a brandyourself profile.</li>
                        <li><span class="fi-checkmark"></span>Rank the links they show you whether they're positive, negative or unrelated.</li>
                        <li><span class="fi-checkmark"></span>Submit links about you that are positve, so they can promote them.</li>
                    </ul>
                <p class="bluecolor font500">FOURTH: Social Media</p>
                    <li>Clean up your <%= link_to "Twitter", "http://www.twitter.com", target: "_blank" %> account. Delete all tweets that might not help you make a good impression.</li>
                    <li>Make your <%= link_to "Facebook", "http://www.facebook.com", target: "_blank" %> profile as private as possible. If I'm not your friend, I should only be able to see your name, photo and that's it. Look at <%= link_to "My profile", "https://www.facebook.com/antomontani"%></li>
                    <li>Tumblr, Pinterest, Google+ (seriously?), everything that shares personal info about you should be locked down. It helps to know you use social media, it DOESN'T help to share your personal details with everybody. Unless you want to work in the industry, of course.</li>
            </ul>
