<p href="#step2" class="row accordiontitle font700" data-section-title>
    <span>
        <%= image_tag "step2tag.png" %>ANSWER THE JOB OPENING
    </span>
    <br/>
    Give them exactly what they're looking for. 
    <a class="hide-for-small activearrow whitebutton"><i class="fi-down-arrow"></i></a>
</p>
<div class="content row" data-section-content>
    <div class="text-left"><%= image_tag "step3paper.png" %>
    </div>
    <br>
    <p>Take the "Qualifications", "Requirements" or "Candidate's profile" bullet points on the job opening and copy them on <%= link_to "Google Docs", "http://docs.google.com", target: "_blank" %>, <%= link_to "SkyDrive", "https://skydrive.live.com", target: "_blank" %> or <%= link_to "Shrib", "http://shrib.com", target: "_blank" %>. Answer each of them like they were questions. Be <span style="text-weight:bold">very</span> specific, write down facts, figures, palpable proof and specific examples to reply to every requirement. Even for the "strong communication skills"-like requirements.</p>
    <br>
    <p>Here are the requirements from the <%= link_to "CDN Product Manager", 'https://docs.google.com/document/d/1U_oQptxcATulnpadcRjvfscRvif_PwXxy-OG5GGJz5o/edit?usp=sharing', target: "_blank" %> opening on Step 1</p>
    <div class="bluepanel">
        <p>
            <span class="font700">Product Manager - CDN</span>
            <br/>
            <span class="font500">Basic Qualifications:</span>
        </p>
        <ul class="disc">
            <li>Bachelors Degree required.</li>
            <li>6+ years of relevent experience.</li>
            <li>Strong organizational and time management skills with experience in meeting deadlines.</li>
            <li>Ability to multi-task with high attention to detail</li>
            <li>Have the ability to work in a team environment, quickly assess problems and find workable solutions.</li>
            <li>Demonstrate strong interpersonal and communication skills.</li>
        </ul>
        <p>Preferred Qualifications:</p>
        <ul class="disc">
            <li>Masters of Business Administration preferred.</li>
            <li>Have a strong track record of shaping business strategy for technical products or services.</li>
            <li>Have an entrepreneurial spirit.</li>
        </ul>
    </div>
    <br/><br/><br/>
    <p>Here's how I would answer it:</p>
      <div class="bluepanel">
        <p><span class="font500">Qualifications for the Product Manager - CDN opening at Amazon:</span></p>
        <span>
            <ul class="disc">
                <li>Bachelors Degree required.</li>
                <p style="font-weight:bold;">Telecom Engineer Bachelor, 2006, South Harmon Institute of Technology.</p>
                <li>6+ years of relevent experience.</li>
                <p style="font-weight:bold;">2 years as a CDN pre-sales engineer in Huawei 2006-2008, Managed RFP for the biggest IPTV contract in history (20MM USD)for AT&T and won it.</p>
                <p style="font-weight:bold;">4 years as a CDN Architect in AT&T 2009-present, piloted deployment of CDN platforms in California, Tennesse, New York for 10MM Users.</p>
                <li>Strong organizational and time management skills with experience in meeting deadlines.</li>
                <p style="font-weight:bold;">Coordinated over 50 people (5 different Vendors, State-level Network Architects, Testers, Installation teams and Strategy leaders) as the Project Manager to deploy CDN solution in California, Tennessee, New York for 10MM Users. Projects succeeded within initial time ranges.</p>
                <li>Ability to multi-task with high attention to detail.</li>
                <p style="font-weight:bold;">Developed High Level Deployment Designs for California as I was testing new Akamai releases and coordinating the installation of the platform in Tennessee.</p>
                <li>Have the ability to work in a team environment, quickly assess problems and find workable solutions.</li>
                <p style="font-weight:bold;">Ran into 36 issues while deploying CDN in New York, took an average of 14 hours to lead over 50 people to locate the root of the issue, find a consensus-based solution and deploy it, from broken hardware to bugs to human error.</p>
                <li>Demonstrate strong interpersonal and communication skills.</li>
                <p style="font-weight:bold;">2 years as Project Manager "translating" issues, needs, requirements and discrepancies between vendors, architects, developers, clients, testers.</p>
                <li>Masters of Business Administration preferred.</li>
                <p style="font-weight:bold;">Ran my own startup "CDN4U": developed business and marketing strategies to present to dozens of investors at WebIT expo 2012 in Istanbul.</p>
                <p style="color:red">Note that I don't have an MBA, so I looked up what an MBA learns and wrote down what I know from that instead.</p>
                <li>Have a strong track record of shaping business strategy for technical products or services.</li>
                <p style="font-weight:bold;">Piloted RFP for AT&T CDN in 2010: piloted response analysis, lab testing and result comparison for Cisco, Akamai, Alcatel, PeerApp CDNs. Ran internal studies to take into account needs from 40+ states to choose the best solution.</p>
                <li>Have an entrepreneurial spirit.</li>
                <p style="font-weight:bold;">Created two startups: "CDN4U" in 2012 and "7 steps to the job you want" in 2013.</p>
            </ul>
        </span>
    </div>
    <br>
    <p>For the skills you don't have:</p>
    <ul class="disc">
        <li>Open the <%= link_to 'Wikipedia', "http://www.wikipedia.com", target: "_blank" %> entry on the keyword you're missing.</li>
        <li>Read and follow up to grasp what they're talking about.</li>
        <li>Add "Basic Understanding" "Notions of", "Theoretical Knowledge" of (keyword)"</li>
    </ul>
    <p>Save that Q&A document. You will be adding answers later for each new job opening you will apply to.</p>
    <br/>