<upgrade></upgrade>
<div class="nobg stack">
    <ul class="sub-nav">
        <dd class="ddnav"  data-magellan-arrival="home">
            <%= link_to "0", openings_path, class: "navbutton navbuttoninfo", id: "hola" %>
        </dd>
        <dd  data-magellan-arrival="step1">
            <%= link_to "1", edit_opening_path(@opening, step: 1), class: "navbutton", id: "1"  %>
        </dd>
        <dd  data-magellan-arrival="step2">
            <%= link_to "2", edit_opening_path(@opening, step: 2), class: "navbutton", id: "2"  %>
        </dd>
        <dd  data-magellan-arrival="step3">
            <%= link_to "3", edit_opening_path(@opening, step: 3), class: "navbutton", id: "3"  %>
        </dd>
        <dd  data-magellan-arrival="step4">
            <%= link_to "4", edit_opening_path(@opening, step: 4), class: "navbutton", id: "4"  %>
        </dd>
        <dd  data-magellan-arrival="step5">
            <%= link_to "5", edit_opening_path(@opening, step: 5), class: "navbutton", id: "5"  %>
        </dd>
        <dd data-magellan-arrival="step6">
            <%= link_to "6", edit_opening_path(@opening, step: 6), class: "navbutton", id: "6"  %>
        </dd>
        <dd data-magellan-arrival="step7">
            <%= link_to "7", edit_opening_path(@opening, step: 7), class: "navbutton", id: "7"  %>
        </dd>
    </ul>
</div>